@font-face{
  font-family: "Proxima Nova Soft";
  src: url("Assets/Fonts/Proxima Nova Soft/ProximaNovaSoft-Bold.otf");
  src: url("Assets/Fonts/Proxima Nova Soft/ProximaNovaSoft-Medium.otf");
  src: url("Assets/Fonts/Proxima Nova Soft/ProximaNovaSoft-Regular.otf");
  src: url("Assets/Fonts/Proxima Nova Soft/ProximaNovaSoft-Semibold.otf");
}
body{
  margin: 0;
  height: 100vh;
}
html{
  font-size: 16px;
}
.dashboard-header{
  background: #622392;
  height: 5.5rem;
  display: flex;
  align-items: center;
}

.dashboard-header a {
  margin-left: 30px;
  color: #ffffff;
  font-size: 4rem;
  
}
nav{
 margin: 0 auto;
 font-size: 3rem;
 color: #ffffff;
}
.hero{
  background: #8d52ba;
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.balance{
  font-family: 'ProximaNovaSoft-Regular',Arial,sans-serif;
  size: 18px;
  color: #ffffff;
}
.N-balance{
  font-family: 'ProximaNovaSoft-Semibold',Arial,sans-serif;
  size: 24px;
  color: #ffffff;
}
.balance-sp{
  font-family: 'ProximaNovaSoft-Semibold',Arial,sans-serif;
  size: 16px;
  color: #ffffff;
 
}
.latest-trans{
  font-family: 'ProximaNovaSoft-Medium',Arial,sans-serif;
  size: 14px;
  height: 4rem;
  background:  #622392;
  /* opacity: 0.6; */
  color: #959595;
  line-height: 4rem;
}
.latest-trans > h2 {
  margin: 0 0 0 20px;
}
.summary{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.even{
  background-color: #959595;
}
.even .amount{
  color: green;
}
.odd:first-child {
  font-family: 'ProximaNovaSoft-Semibold',Arial,sans-serif;
  size: 16px;
}
.even > div{
  font-family: 'ProximaNovaSoft-Semibold',Arial,sans-serif;
  size: 16px;
}
.odd .amount {
  color: red;
}
/* MENU STYLING */
.menu-header{
  background-image: url("/Assets/Images/Side Menu/menu-header-bg@3x.png");
  background-size: cover;
  height: 10rem;
  background-repeat: no-repeat;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.profile{
  display: flex;
  justify-content: space-between;
  
 
}
.profile > img{
  width: 6rem;
  height: 5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 50px;
}
.profile a{
  font-size: 1.5rem;
  color: #ffffff;

}
.section{
  display: flex;
  font-size: 2.0rem;
  padding: 30px 0;
  
}
.section > img{
  width: 50px;
  height: 50px;
  padding: 30px 0;
}
.detail{
  margin-left: 20px;
  align-items: center;
  color: #8d52ba;
}
.section-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
 
}